<!-- <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search"> -->
<!-- <app-search [(searchModel)]="searchText"></app-search> -->

<div *ngFor="let specialist of specialists">
    <div class="card mb-3">
        <h5 class="card-header">{{specialist.name}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{specialist.specialty}}</h5>
          <a [routerLink]="['/specialists', specialist.id]" class="btn btn-primary">View Details</a>
        </div>
      </div>
</div>
